.analitick {
    margin-bottom: 40px;
    h1 {
        margin: 40px 0;
    }

    .news {
        margin-bottom: 20px;
        h2 {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 30px;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            .item {
                display: flex;
                gap: 20px;
                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: #393632;
                    .date {
                        font-size: 14px;
                        color: #969ba1;
                        font-weight: 400;
                    }
                    h3 {
                         font-size: 14px;
                         line-height: 22px;
                        font-weight: bold;
                         margin: 0;
                     }
                    p {
                        font-size: 14px;
                        line-height: 22px;
                        margin: 0;
                    }
                    .more {
                        margin-left: 28px;
                    }
                }
                img {
                    max-width: 170px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
    .news_more {
        color: #ff6d12;
        padding: 5px 10px;
        border: #ff6d12 2px solid;
        border-radius: 2px;
        margin-bottom: 100px;
    }
    hr {
        margin: 30px 0 40px;
    }
}
