@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bread {
    padding: 30px 0 10px;
    display: flex;
    align-items: end;
    gap: 10px;
    a {
        display: flex;
        align-items: end;
        gap: 10px;
        text-decoration: none;
        color: #9da3a8;
        span {
            color: #ff6d12;
        }
    }
    a:hover{
        color: #ff6d12;
    }
}

h1, h2, h3, h4, p, a {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #3c3c3c;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}
h2 {

}
h3 {

}
h4 {

}


.btn:focus,
.form-control:focus,
.custom-select:focus,
.custom-file-input:focus,
.custom-file-label:focus,
.custom-range:focus,
.custom-checkbox:focus,
.custom-radio:focus {
    box-shadow: none !important;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.btn-orange{
    background: #ff6d12;
    border-color: #ff6d12;
    color: white;

    &:hover{
        color: white;
    }
}

ul {
    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding: 0 0 20px 10px;
        color: #3c3c3c;
    }
    ::marker {
        color: #ff6d12;
    }
}

.nav-logo{
    display: block;
    //position: absolute;
    //top: 30px;
    //left: 0;
    width: 189px;
    height: 64px;
    background: url(/img/logo.svg) left center no-repeat;
    background-size: contain;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    //z-index: 4;
}


a{
    text-decoration: none;
}

//.item-header-wrapper{
//    margin-left: 20px;
//}
//
//header {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    padding: 20px 0 0;
//
//    position: sticky;
//    top: 0;
//    left: 0;
//    z-index: 100;
//
//    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
//
//    background: white;
//
//    .navbar {
//        position: sticky;
//        top:0;
//
//        padding-bottom: 0;
//    }
//
//    .navbar-nav {
//        gap: 30px;
//        .nav-item {
//        padding: 0;
//    }
//    }
//
//    .d-flex {
//        span {
//            font-size: 14px;
//            font-weight: 400;
//        }
//    }
//}

//.nav-wrap{
//
//    a, span{
//        color: #3c3c3c;
//
//        &:hover{
//            color: #ff6d12;
//            transition: color 0.1s ease-in;
//        }
//    }
//
//    i{
//        font-size: 25px;
//        margin-top: 7px;
//    }
//
//    .item-header-wrapper{
//
//    }
//}

.main_filter_wrap .filter_block {
    background: rgba(255, 255, 255, .9);
    margin: 0 auto 50px;
    max-width: 950px;
}

.filter-wrapper{
    position: absolute;
    top: 15%;
    left: 30%;

    #basic-addon2 {
        background: white;
        border-left: none;
        border-right: none;
        cursor: default;
        border-radius: 0;
    }

    .form-control {
        border-right: none;
        border-left: none;
        z-index: 0;
    }

    #isHave {
        display: none;
        & + label {
            background: #afafaf;
            color: #797979;
        }
        &:checked + label {
            background-color: #ffffff;
            color: #3c3c3c;
            border: #ff6d12 1px solid;
        }
    }


    .input-group-prepend,.input-group-append {
        z-index: 10;
    }

    .filter-window{
        background: rgba(255, 255, 255, .9);
        max-width: 950px;

        &:after{
            content: '';
            display: block;
            position: absolute;
            border-color: rgba(255, 255, 255, .9) transparent transparent transparent;
            border-style: solid;
            border-width: 30px;
            top: 83.5%;
            left: 50%;
            margin-left: -30px;
        }

        .filter-1{

            button{
                color: #57626c;
                font-weight: 400;
                padding: 10px;
                z-index: 2;
                background: #dfe3e7;
                height: 49px;

                &.active{
                    color: #ff6d12;
                    font-weight: 400;
                    background: #fff;
                    outline-offset: 0;
                    outline: 1px solid #ff6d12;
                }
            }
        }
    }


    .btn-apply-filter{
        background: #ff6d12;
        border-color: #ff6d12;
        position: relative;
        left: 30%;
        bottom: -50px;
        font-size: 20px;
        padding: 15px 40px 18px 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        color: white;

        &:hover{
            box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
        }
    }

}

.carousel-item {
    img {
        object-fit: cover;
    }
}

.mailing-wrapper{
    padding: 30px;
    background: #e9ebee;
    position: relative;


    .mailing-content {
        width: 80%;
        margin: 0 auto;
        padding: 60px 0;

        i {
            font-size: 40px;
        }

        .mailing-text {
            width: 35%;
            color: rgb(33, 78, 115);
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 400;

            position: relative;
        }



        input, button {
            height: 50px;
        }

        button {
            margin-left: 10px;
            width: 200px;
        }

        input {
            width: 300px;
        }
    }
}

.more{
    color: #ff6d12;
    text-decoration: none;
    margin-left: 28px;
    font-size: 14px;
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: -28px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        line-height: 18px;
        border-radius: 10px;
        background: #ff6d12;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: 6px;
        left: -23px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}


.news-wrapper{
    margin-top: 60px;

    .news-content{
        width: 80%;
        margin: 0 auto;
    }

    .news-item{
        width: 350px;
        height: 510px;
        padding: 20px;

        h4, p{
            font-size: 14px;
        }

        .date{
            font-size: 14px;
            color: #969ba1;
            font-weight: 400;
        }

        img{
            width: 100%;
            height: 200px;
        }
    }
}

.about-blog{
    position: relative;
    background: #ffffff;
    padding: 0 35px;

    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(/img/about_bg.jpg) center top no-repeat;
        background-size: cover;
    }

    .container{
        margin: auto;
        position: relative;
        max-width: 1400px;
    }

    .txt{
        position: relative;
        z-index: 2;
        margin-left: 50%;
        background: rgba(255, 255, 255, .9);
        padding-left: 70px;
        padding-right: 70px;
    }


}

.std{
    padding: 60px 0;
}

.bottom_block {
    background: #ffffff;
    position: relative;
}

.pdd {
    padding: 0 35px;
}

.bottom_block .container {
    height: 60px;
    z-index: 2;
    margin: auto;
    position: relative;
    max-width: 1400px;

    .copy{
        position: absolute;
        font-size: 13px;
        color: #97a3a7;
        top: 22px;
        left: 0;
    }

    .clear {
        display: block;
        clear: both;
        height: 0px;
        overflow: hidden;
    }
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f5f7f8;

    .navbar-nav li a{
        color: #697077;

        &:hover{
            color: #ff6d12;
        }
    }
}

.navbar-nav .nav-link {
    position: relative;
    overflow: hidden;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff6d12;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.carousel{
    height: 555px;
}

.carousel-item {
    position: relative;
}

.filter-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .button {
        display: flex;
    }
}
@media (min-device-width: 1025px) and (max-device-width: 1399px) {

    .filter-wrapper {
        width: max-content;
        .filter-2 {
            .form-control {
                border-right: 1px solid #ced4da;
                border-radius: .25rem !important;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .form-control {
            font-size: 12px;
            font-weight: 500;
        }
        .filter-window {
            max-width: 769px;

            .filter-1 {
                display: flex;
                gap: 10px;
            }
        }
        .filter-window:after {
            top: 85.4%;
        }
        .btn-apply-filter {
            left: 32%;
            bottom: -35px;
            font-size: 14px;
        }
    }
    .mailing-wrapper {
        .mailing-content {
            flex-direction: row !important;
            gap: 10px;
            .mailing-text {
                width: 100%;
            }
            .mailing-write {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                button {
                    margin-left: 0;
                }
            }
        }
    }
}
@media (min-device-width: 769px) and (max-device-width: 1024px) {
    h1 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 769px;
    }
    .carousel {
        height: 700px;
    }
    .filter-wrapper {
        width: max-content;
        .filter-2 {
            .form-control {
                border-right: 1px solid #ced4da;
                border-radius: .25rem !important;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .input-group {
            flex-direction: column;
        }

        .form-control {
            font-size: 12px;
            font-weight: 500;
        }
        .filter-window {
            max-width: 769px;

            .filter-1 {
                display: flex;
                //flex-direction: column;
                gap: 10px;
            }
        }
        .filter-window:after {
            top: 90.3%;
        }
        .btn-apply-filter {
            left: 30%;
            bottom: -35px;
            font-size: 14px;
        }
    }
    .mailing-wrapper {
        .mailing-content {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .mailing-text {
                display: flex;
                align-items: center !important;
                width: 100%;
            }
            .mailing-write {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                button {
                    margin-left: 0;
                }
            }
        }
    }

    .news-wrapper {
        .list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .text-center {
            display: block;
        }
    }
    .about-blog {
        padding: 0;
        .container {
            padding: 0;

        }
        .std {
            padding: 0;
            margin: 0;
        }
        .txt {
            padding: 0 0 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }

}

@media (min-device-width: 481px) and (max-device-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 480px;
    }
    .carousel {
        height: 700px;
    }
    .filter-wrapper {
        .filter-2 {
            .form-control {
                border-right: 1px solid #ced4da;
                border-radius: .25rem !important;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .input-group {
            flex-direction: column;
        }

        .form-control {
            font-size: 12px;
            font-weight: 500;
        }
        .filter-window {
            max-width: 480px;

            .filter-1 {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .filter-window:after {
            top: 91%;
        }
        .btn-apply-filter {
            left: 3%;
            bottom: -35px;
            font-size: 14px;
        }
    }
    .mailing-wrapper {
        .mailing-content {
            flex-direction: column;
            gap: 10px;
            .mailing-text {
                display: flex;
                align-items: center !important;
                width: 100%;
                p {
                    display: none;
                }
            }
            .mailing-write {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                button {
                    margin-left: 0;
                }
            }
        }
    }

    .news-wrapper {
        .list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .text-center {
            display: block;
        }
    }
    .about-blog {
        padding: 0;
        .container {
            padding: 0;

        }
        .std {
            padding: 0;
            margin: 0;
        }
        .txt {
            padding: 0 0 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }

}

@media (max-device-width: 768px) and (min-device-width: 560px) {
    .filter-wrapper {
        .btn-apply-filter {
            left: 17%;
        }
    }

}

@media (min-device-width: 320px) and (max-device-width: 480px) {
    h1 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 320px;
    }
    .carousel {
        height: 700px;
    }
    .filter-wrapper {
        .filter-2 {
            .form-control {
                border-right: 1px solid #ced4da;
                border-radius: .25rem !important;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .input-group {
            flex-direction: column;
        }

        .form-control {
            font-size: 12px;
            font-weight: 500;
        }
        .filter-window {
            max-width: 320px;

            .filter-1 {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .filter-window:after {
            top: 91%;
        }
        .btn-apply-filter {
            left: 5%;
            bottom: -35px;
            font-size: 14px;
        }
    }
    .mailing-wrapper {
        .mailing-content {
            flex-direction: column;
            gap: 10px;
            .mailing-text {
                display: flex;
                align-items: center !important;
                width: 100%;
                p {
                    display: none;
                }
            }
            .mailing-write {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                button {
                    margin-left: 0;
                }
            }
        }
    }

    .news-wrapper {
        .list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .text-center {
            display: block;
        }
    }
    .about-blog {
        padding: 0;
        .container {
            padding: 0;

        }
        .std {
            padding: 0;
            margin: 0;
        }
        .txt {
            padding: 0 0 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }

}
