.contacts {
    display: flex;
    flex-direction: column;
    h2 {
        margin-top: 30px;
        padding-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
        font-weight: 400;
    }
    h3 {
        margin-bottom: 30px;
        font-size: 32px;
        line-height: 32px;
        font-weight: 400;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        a, p {
            margin: 0;
            font-size: 18px;
            line-height: 30px;
            text-decoration: none;
            color: #2a2e30;
        }
    }
}
