.guide {
    margin-bottom: 30px;
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .item {
            h2 {
                font-size: 20px;
                line-height: 22px;
                font-weight: 400;
            }
            p {
                font-size: 14px;
                line-height: 22px;
            }
            img {
                width: 180px;
                object-fit: cover;
            }
            color: #3c3c3c;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .item:hover > h2 {
            color: #ff6d12;
        }
    }
}
@media (min-device-width: 320px) and (max-device-width: 480px) {
    .guide {
        .list {
            grid-template-columns: 1fr;

            .item {

            }
        }
    }
}
