.news-single {
  padding: 40px 0 50px;
}
.news-single h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 40px;
}
.news-single .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
}
.news-single .item .data {
  font-size: 16px;
  color: #969ba1;
}
.news-single .item .content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.news-single .item .content img {
  max-width: 500px;
  aspect-ratio: 16/9;
  margin-right: 30px;
  margin-bottom: 30px;
}
.news-single a {
  color: #ff6d12;
}
.news-single a:hover {
  -webkit-text-decoration: underline dotted #ff6d12;
          text-decoration: underline dotted #ff6d12;
  text-underline-offset: 3px;
}
