.object {
  max-width: 1000px;
  padding-right: 40px;
}
.object h2 {
  margin-top: 30px;
  margin-bottom: 50px;
}
.object h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-weight: 600;
}
.object .info {
  display: flex;
  flex-direction: column;
  background-color: #f5f7f8;
  padding: 30px;
  gap: 10px;
  margin-bottom: 30px;
}
.object .info p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #676a6b;
  margin-bottom: 0;
}
.object .info .data {
  font-size: 16px;
  color: #676a6b;
}
.object .info .text {
  display: flex;
  justify-content: space-between;
}
.object .info .text .geo {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.object .info .text .geo h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}
.object .info .text .geo .tech {
  display: flex;
  gap: 10px;
}
.object .info .text .price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.object .info .text .price span {
  text-align: end;
  color: #8c9092;
  font-size: 22px;
}
.object .info .text .price p {
  text-align: end;
  color: #ff6d12;
  font-size: 36px;
  line-height: 36px;
}
.object .feature {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.object .feature p {
  margin-bottom: 0;
}
.object .feature ul {
  list-style-type: none;
  padding-left: 0px;
}
.object .feature ul li:before {
  content: "-";
  margin-right: 10px;
}
.object .feature span {
  color: #8c9092;
}
.object img {
  width: 100%;
}
